{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Tasks App</title>
</head>
<body>
    <header>
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'add_task' %}">Create Tasks</a>
    </header>
    <main class="container">
        {% block content %}
            
        {% endblock content %}  
    </main>
</body>
</html>